@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: #b26b53;

    --background: 16 24.7% 4.08%;
    --foreground: 0 0% 13%;

    --muted: 0 0% 47%;
    --muted-foreground: 16 3.8% 55.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 16 3.8% 97.55%;

    --card: 16 57.4% 6.63%;
    --card-foreground: 16 3.8% 97.55%;

    --border: 237 16% 91%;
    --input: 16 19% 15.3%;

    --primary: 16 38% 51%;
    --primary-foreground: 0 0% 100%;

    --secondary: 19 38% 95%;
    --secondary-foreground: 16 3.8% 9.5%;

    --accent: 16 19% 15.3%;
    --accent-foreground: 16 3.8% 97.55%;

    --destructive: -8 86% 45%;
    --destructive-foreground: 16 3.8% 97.55%;

    --ring: 16 38% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-white text-foreground;
  }
}
